.landingContainer {
  position: relative;
  height: 100vh;
  width: 100vw;
  color: #fff;
  overflow: hidden;

  //Boomerang entry

  .boomerangOnly {
    position: absolute;
    z-index: 3;
    left: 20%;
    top: 32%;
    transform: translate(0%, -40%);
    -webkit-animation: boomIn 4s forwards;
    animation: boomIn 4s forwards;
  }
  @-webkit-keyframes boomIn {
    0% {
      height: 250px;
      opacity: 1;
      z-index: 3;
      top: 32%;
      left: 20%;
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
    35% {
      height: 250px;
      left: 63%;
      top: 40%;
      transform: translate(0%, -40%);
      z-index: 3;
    }
    65% {
      height: 195px;
      top: 40%;
      transform: translate(0%, -40%);
      z-index: 3;
    }
    85% {
      height: 185px;
      left: 57.5%;
      top: 40%;
      transform: translate(0%, -40%);
      z-index: 3;
    }
    90% {
      height: 40px;
      left: 225px;
      top: 33px;
      z-index: 3;
    }
    to {
      height: 45px;
      left: 233px;
      top: 36px;
      z-index: 3;
    }
  }
  @keyframes boomIn {
    0% {
      height: 250px;
      opacity: 1;
      z-index: 3;
      top: 32%;
      left: 20%;
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
    35% {
      height: 250px;
      left: 63%;
      top: 40%;
      transform: translate(0%, -40%);
      z-index: 3;
    }
    65% {
      height: 195px;
      top: 40%;
      transform: translate(0%, -40%);
      z-index: 3;
    }
    85% {
      height: 185px;
      left: 57.5%;
      top: 40%;
      transform: translate(0%, -40%);
      z-index: 3;
    }
    90% {
      height: 40px;
      left: 225px;
      top: 33px;
      z-index: 3;
    }
    to {
      height: 45px;
      left: 233px;
      top: 36px;
      z-index: 3;
    }
  }

  .boomerangText {
    position: absolute;
    -webkit-animation: boomTextIn 4s forwards;
    animation: boomTextIn 4s forwards;
  }
  @-webkit-keyframes boomTextIn {
    0% {
      height: 100px;
      width: 0px;
    }
    50% {
      height: 100px;
      width: 600px;
    }
    85% {
      height: 100%;
      width: 600px;
    }
    90% {
      height: 70px;
      width: 200px;
    }
    98% {
      height: 70px;
      width: 120px;
    }
    to {
      height: 70px;
      width: 120px;
    }
  }
  @keyframes boomTextIn {
    0% {
      height: 100px;
      width: 0px;
    }
    50% {
      height: 100px;
      width: 600px;
    }
    85% {
      height: 100%;
      width: 600px;
    }
    90% {
      height: 70px;
      width: 200px;
    }
    98% {
      height: 70px;
      width: 120px;
    }
    to {
      height: 70px;
      width: 120px;
    }
  }

  .openingBox {
    position: relative;
    width: 600px;
    z-index: 4;
    left: 40%;
    top: 42%;
    border: none;
    -webkit-animation: openBox 4s forwards;
    animation: openBox 4s forwards;
    @-webkit-keyframes openBox {
      0% {
        height: 10%;
        left: 40%;
        top: 42%;
        transform: translate(-40%, -42%);
        width: 0px;
      }
      50% {
        height: 10%;
        left: 43%;
        top: 42%;
        transform: translate(-40%, -42%);
        width: 600px;
      }
      85% {
        height: 10%;
        left: 43%;
        top: 42%;
        transform: translate(-40%, -42%);
        width: 600px;
      }
      90% {
        height: 70px;
        left: 130px;
        top: 4px;
        width: 200px;
      }
      98% {
        height: 70px;
        width: 110px;
        left: 130px;
        top: 4px;
      }
      to {
        height: 70px;
        width: 120px;
        left: 130px;
        top: 4px;
      }
    }
    @keyframes openBox {
      0% {
        height: 10%;
        left: 40%;
        top: 42%;
        transform: translate(-40%, -42%);
        width: 0px;
      }
      50% {
        height: 10%;
        left: 43%;
        top: 42%;
        transform: translate(-40%, -42%);
        width: 600px;
      }
      85% {
        height: 10%;
        left: 43%;
        top: 42%;
        transform: translate(-40%, -42%);
        width: 600px;
      }
      90% {
        height: 70px;
        left: 130px;
        top: 4px;
        width: 200px;
      }
      98% {
        height: 70px;
        width: 110px;
        left: 130px;
        top: 4px;
      }
      to {
        height: 70px;
        width: 120px;
        left: 130px;
        top: 4px;
      }
    }
  }

  //background stripe
  .landingImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
    z-index: 1;
    -webkit-animation: shrinkImage 4.8s;
    animation: shrinkImage 4.8s;
  }
  @-webkit-keyframes shrinkImage {
    0% {
      width: 100%;
      height: 200%;
    }
    50% {
      width: 100%;
      height: 180%;
    }
    85% {
      width: 100%;
      height: 170%;
    }
    90% {
      width: 100%;
      height: 150%;
    }
    98% {
      width: 100%;
      height: 120%;
    }
    to {
      width: 100%;
      height: 90%;
    }
  }
  @keyframes shrinkImage {
    0% {
      width: 100%;
      height: 200%;
    }
    50% {
      width: 100%;
      height: 180%;
    }
    85% {
      width: 100%;
      height: 170%;
    }
    90% {
      width: 100%;
      height: 150%;
    }
    98% {
      width: 100%;
      height: 120%;
    }
    to {
      width: 100%;
      height: 90%;
    }
  }

  //cars
  .landingImageCars {
    position: absolute;
    bottom: 10%;
    right: 0;
    width: auto;
    height: 55%;
    z-index: 1;
    -webkit-animation: slideRightIn 5s ease-out;
    animation: slideRightIn 5s ease-out;
  }
  @-webkit-keyframes slideRightIn {
    0% {
      -webkit-transform: translateX(100vw);
      transform: translateX(100vw);
    }
    80% {
      -webkit-transform: translateX(100vw);
      transform: translateX(100vw);
    }
    to {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }
  @keyframes slideRightIn {
    0% {
      -webkit-transform: translateX(100vw);
      transform: translateX(100vw);
    }
    80% {
      -webkit-transform: translateX(100vw);
      transform: translateX(100vw);
    }
    to {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }
  //content
  .landingContent {
    position: relative;
    z-index: 2;

    .topBar {
      height: 25vh;
      width: 100%;
      display: flex;

      .navTabs {
        display: flex;
        gap: 45px;
        width: 100%;
        height: 30px;
        margin-right: 8%;
        justify-content: flex-end;
        margin-top: -2%;
        -webkit-animation: slideDown 5s ease-out;
        animation: slideDown 5s ease-out;
        .navTabItem {
          color: #fff;
          text-decoration: none;
          position: relative;
        }
        .navTabItem:after {
          background-color: red;
          content: "";
          width: 0;
          height: 2px;
          left: 0;
          top: 25px;
          transition: width 0.5s ease 0s;
          position: absolute;
        }
        .navTabItem:hover::after {
          width: 100%;
        }
        .navTabItem:hover {
          font-size: 1.05rem;
          font-weight: 800;
          line-height: 20px;
          transition: 0.25s;
        }
      }
      @-webkit-keyframes slideDown {
        0% {
          -webkit-transform: translateY(-10vh);
          transform: translateY(-10vh);
        }
        80% {
          -webkit-transform: translateY(-10vh);
          transform: translateY(-10vh);
        }
        to {
          -webkit-transform: translateY(0);
          transform: translateY(0);
        }
      }
      @keyframes slideDown {
        0% {
          -webkit-transform: translateY(-10vh);
          transform: translateY(-10vh);
        }
        80% {
          -webkit-transform: translateY(-10vh);
          transform: translateY(-10vh);
        }
        to {
          -webkit-transform: translateY(0);
          transform: translateY(0);
        }
      }
    }

    .landingText {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      text-align: left;
      margin-left: 10%;
      height: 75vh;
      max-width: 500px;
      gap: 30px;
      -webkit-animation: slideLeftIn 5s ease-out;
      animation: slideLeftIn 5s ease-out;
      .landingTextHeading {
        font-size: 2.85rem;
        font-weight: 800;
        margin: 0;
        .customUnderline {
          text-decoration-color: #fff;
          text-decoration: underline;
          text-decoration-thickness: 1px;
          text-underline-offset: -6px;
          text-underline-position: under;
        }
      }
      .landingTextDescription {
        font-size: 1.15rem;
        margin: 0;
        font-weight: 500;
      }
      .landingTextButtonContainer {
        height: 5%;
        width: auto;
      }
      @-webkit-keyframes slideLeftIn {
        0% {
          -webkit-transform: translateX(-100vw);
          transform: translateX(-100vw);
        }
        80% {
          -webkit-transform: translateX(-100vw);
          transform: translateX(-100vw);
        }
        to {
          -webkit-transform: translateX(0);
          transform: translateX(0);
        }
      }
      @keyframes slideLeftIn {
        0% {
          -webkit-transform: translateX(-100vw);
          transform: translateX(-100vw);
        }
        80% {
          -webkit-transform: translateX(-100vw);
          transform: translateX(-100vw);
        }
        to {
          -webkit-transform: translateX(0);
          transform: translateX(0);
        }
      }
    }

    .landingQuoteContainer {
      position: absolute;
      bottom: 0;
      right: 5%;
      color: #000;
      margin-bottom: 20px;
      -webkit-animation: slideRightIn 5s ease-out;
      animation: slideRightIn 5s ease-out;

      .landingQuoteText {
        font-size: 0.95rem;
        margin: 0;
        margin-bottom: 2px;
      }
      .landingQuoteImg {
        height: 20px;
        width: auto;
        float: right;
      }
    }
  }
}

@media screen and (max-width: 1700px) {
  .landingContainer {
    //Boomerang entry

    .boomerangOnly {
      position: absolute;
      z-index: 3;
      left: 20%;
      top: 32%;
      transform: translate(0%, -40%);
      -webkit-animation: boomIn 4s forwards;
      animation: boomIn 4s forwards;
    }
    @-webkit-keyframes boomIn {
      0% {
        height: 250px;
        opacity: 1;
        z-index: 3;
        top: 32%;
        left: 20%;
        -webkit-transform: translateX(0);
        transform: translateX(0);
      }
      35% {
        height: 250px;
        left: 63%;
        top: 40%;
        transform: translate(0%, -40%);
        z-index: 3;
      }
      65% {
        height: 195px;
        top: 40%;
        transform: translate(0%, -40%);
        z-index: 3;
      }
      85% {
        height: 185px;
        left: 57.5%;
        top: 40%;
        transform: translate(0%, -40%);
        z-index: 3;
      }
      90% {
        height: 40px;
        left: 225px;
        top: 33px;
        z-index: 3;
      }
      to {
        height: 45px;
        left: 233px;
        top: 36px;
        z-index: 3;
      }
    }
    @keyframes boomIn {
      0% {
        height: 250px;
        opacity: 1;
        z-index: 3;
        top: 32%;
        left: 20%;
        -webkit-transform: translateX(0);
        transform: translateX(0);
      }
      35% {
        height: 250px;
        left: 68%;
        top: 40%;
        transform: translate(0%, -40%);
        z-index: 3;
      }
      65% {
        height: 195px;
        top: 40%;
        transform: translate(0%, -40%);
        z-index: 3;
      }
      85% {
        height: 185px;
        left: 60%;
        top: 40%;
        transform: translate(0%, -40%);
        z-index: 3;
      }
      90% {
        height: 40px;
        left: 225px;
        top: 33px;
        z-index: 3;
      }
      to {
        height: 45px;
        left: 233px;
        top: 36px;
        z-index: 3;
      }
    }

    .boomerangText {
      position: absolute;
      -webkit-animation: boomTextIn 4s forwards;
      animation: boomTextIn 4s forwards;
    }
    @-webkit-keyframes boomTextIn {
      0% {
        height: 100px;
        width: 0px;
      }
      50% {
        height: 100px;
        width: 600px;
      }
      85% {
        height: 100px;
        width: 600px;
      }
      90% {
        height: 70px;
        width: 200px;
      }
      98% {
        height: 70px;
        width: 120px;
      }
      to {
        height: 70px;
        width: 120px;
      }
    }
    @keyframes boomTextIn {
      0% {
        height: 100px;
        width: 0px;
      }
      50% {
        height: 100px;
        width: 600px;
      }
      85% {
        height: 100%;
        width: 600px;
      }
      90% {
        height: 70px;
        width: 200px;
      }
      98% {
        height: 70px;
        width: 120px;
      }
      to {
        height: 70px;
        width: 120px;
      }
    }

    .openingBox {
      position: relative;
      width: 600px;
      z-index: 4;
      left: 40%;
      top: 42%;
      border: none;
      -webkit-animation: openBox 4s forwards;
      animation: openBox 4s forwards;
      @-webkit-keyframes openBox {
        0% {
          height: 10%;
          left: 40%;
          top: 42%;
          transform: translate(-40%, -42%);
          width: 0px;
        }
        50% {
          height: 10%;
          left: 43%;
          top: 42%;
          transform: translate(-40%, -42%);
          width: 600px;
        }
        85% {
          height: 10%;
          left: 43%;
          top: 42%;
          transform: translate(-40%, -42%);
          width: 600px;
        }
        90% {
          height: 70px;
          left: 130px;
          top: 4px;
          width: 200px;
        }
        98% {
          height: 70px;
          width: 110px;
          left: 130px;
          top: 4px;
        }
        to {
          height: 70px;
          width: 120px;
          left: 130px;
          top: 4px;
        }
      }
      @keyframes openBox {
        0% {
          height: 10%;
          left: 40%;
          top: 42%;
          transform: translate(-40%, -42%);
          width: 0px;
        }
        50% {
          height: 10%;
          left: 43%;
          top: 42%;
          transform: translate(-40%, -42%);
          width: 600px;
        }
        85% {
          height: 10%;
          left: 43%;
          top: 42%;
          transform: translate(-40%, -42%);
          width: 600px;
        }
        90% {
          height: 70px;
          left: 130px;
          top: 4px;
          width: 200px;
        }
        98% {
          height: 70px;
          width: 110px;
          left: 130px;
          top: 4px;
        }
        to {
          height: 70px;
          width: 120px;
          left: 130px;
          top: 4px;
        }
      }
    }

    //background stripe
    .landingImage {
      -webkit-animation: shrinkImage 4.8s;
      animation: shrinkImage 4.8s;
    }
    .landingContent {
      position: relative;
      z-index: 2;

      .landingText {
        margin-left: 8%;
        margin-top: -4.5%;
      }
    }
  }
}
