.descriptionContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100vw;
  height: 100vh;
  .descriptionLogoContainer {
    display: flex;
    width: auto;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  .descriptionText {
    display: flex;
    flex-direction: column;
    width: 35vw;
    height: 100%;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    line-height: 1.8rem;
    .descriptionButtonContainer {
      margin-top: 15px;
    }
    .descriptionTextAccentOne {
      color: #ec6b0f;
    }
    .descriptionTextAccentTwo {
      color: #f1860f;
    }
  }
}

@media screen and (max-width: 1700px) {
  .descriptionContainer {
    .descriptionText {
      font-size: 1rem;
      line-height: 1.5rem;
    }
  }
}
